name: Renovate exclude Test

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches-ignore:
      - main

jobs:
  exclude-mysql:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      id-token: write
      contents: read
    services:
      mysql:
        image: mysql:8.0 # target to exclude
        ports:
          - 3306:3306
        options: --health-cmd "mysqladmin ping -h localhost" --health-interval 20s --health-timeout 10s --health-retries 10
        env:
          MYSQL_ROOT_PASSWORD: test
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: create databases
        run: |
          mysql --defaults-extra-file=.github/mysql-dbaccess.cnf -h 127.0.0.1 --get-server-public-key --port 3306 -e 'CREATE DATABASE IF NOT EXISTS testtest CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;'
          echo done
  exclude-php:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@c5fc0d8281aba02c7fda07d3a70cc5371548067d
        with:
          php-version: '8.1'
          coverage: none # jit有効化に必要
          ini-values: opcache.enable_cli=1
          tools: phpcs, cs2pr
      - uses: actions/checkout@v4
      - name: php version
        run: |
          php --version
          echo done
